.product {
  flex-basis: 25%;
  margin-bottom: 50px;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 5px;
}
.product:hover {
  box-shadow: 0px 5px 36px 0px rgba(0, 0, 0, 0.75);
}
.product_title {
  font-weight: normal;
  margin: 0;
  text-align: center;
}
.product_price {
  padding: 10px;
  font-weight: lighter;
}
.product_desc {
  text-align: center;
  padding: 15px 5px;
  color: #666;
  /* line-height: 1.4; */
}
.product_img {
  height: 190px;
  width: 200px;
  padding: 0.5rem;
  cursor: pointer;
}
.addToCart_btn {
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  /* background-color: rgba(89, 158, 248, 0.4); */
  background-color: #eeeeee;
  border: 1px solid black;
  outline: none;
  transition: 0.3;
}
.addToCart_btn:active {
  background-color: rgba(89, 158, 248, 0.4);
}
.readMore__btn {
  border: none;
  border-bottom: 1px solid white;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.readMore__btn:hover {
  border-bottom: 1px solid black;
}
