.navbar_wrapper {
  display: flex;
  list-style: none;
  justify-content: flex-end;

  align-items: center;
  padding: 1rem;
  background-color: black;
}
.navbar_element {
  margin: 0 20px 0 20px;
}
.navbar_link {
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(211, 197, 197);
}
.nav__card {
  position: relative;
  background-color: rgb(211, 197, 197);
  border-radius: 10%;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
}
.nav__card__img {
  position: absolute;
  z-index: 22;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.cartCouter {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -60%);
  font-weight: bold;
}
.logo {
  height: 50px;
  margin-right: 750px;
}
