.formContact {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  color: #666;
}
.form {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: space-between;
}
.form__title {
  margin-bottom: 20px;
  color: black;
  letter-spacing: 1px;
  font-weight: normal;
}

.form__wrapper {
  display: flex;
}
.form__input__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 20px;
}

.form__input {
  padding: 15px 10px;

  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
  outline: none;
}
.form__input__error {
  padding: 15px 10px;

  border: 1px solid red;
  border-radius: 5px;
  color: grey;
  /* background-color: #ee5e5e; */
  outline: none;
}

.form__input__wrapper:nth-child(1) {
  margin-right: 20px;
}
.form__textArea {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  outline: none;
  height: 100px;
  /* background-color: rgba(89, 158, 248, 0.4); */
}

.formDesc {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.4;
}
.toOrder {
  color: black;
  font-weight: normal;
}
#akceptCheckBox {
  margin-right: 10px;
}
.error {
  /* background-color: rgba(89, 158, 248, 0.4); */

  border-radius: 5px;
  margin-top: 5px;
  margin-left: auto;
  /* width: 250px; */
  /* color: #599ef8; */
  color: red;
  font-weight: lighter;
}
.CheckBoxError {
  margin-top: 5px;
  margin-right: auto;
  font-weight: lighter;
  color: red;
}
